.fader-list {
    height: 100%;
  }
  
  .fader-list > .ant-space-item {
    height: 100%;
    display: flex;
    min-width: 60px;
    text-align: center;
  }
  
  .fader-list > .ant-space-item > div {
    margin: 0 auto;
  }
  
  .channel-strip {
    display: flex;
    text-align: center;
    height: 100%;
  }
  
  .ant-space-item:has(.channel-fader) {
    flex:1;
  }
  
  .channel-fader {
    height: calc(100% - 50px);
    margin: 25px auto 15px auto;
  }
  
  .channel-fader .ant-slider-handle::after {
    border-radius: 2px;
    height: 40px !important;
    top: -20px;
    inset-block-start: -20px !important;
  }
  